/* Add CSS Styling */

.odd {
    background-color: rgba(191, 80, 86, 0.557);
    font-family: Verdana, DejaVu Sans, sans-serif;
}

#second {
    color: rgba(35, 57, 181, 0.986);
    font-size: 36px;
}

.font_size {
    font-size: 24px;
}

#forth {
    background-color: rgb(19, 157, 46);
}